// ::-webkit-scrollbar {
//     width: 10px;
// }

// ::-webkit-scrollbar-track {
//     background: none;
//     position: absolute;
// }

// ::-webkit-scrollbar-thumb {
//     background: gray; // var(--md-sys-color-outline-variant);
//     background-clip: content-box;
//     border: 3px solid transparent;
//     border-radius: 8px;
//     transition: all 0.2s ease-in-out;
// }

* {
    box-sizing: border-box;
    -webkit-user-drag: none;

    --md-icon-font: 'Material Symbols Rounded';
    --md-focus-ring-color: transparent;

    --md-elevation-shadow-color: gray;

    @supports (scrollbar-width: thin) {
        scrollbar-width: thin;
    }

    @supports (overscroll-behavior: none) {
        overscroll-behavior: none;
    }

    @supports (-webkit-tap-highlight-color: transparent) {
        -webkit-tap-highlight-color: transparent;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

md-icon[filled] {
    font-variation-settings: 'FILL' 1;
}

@size: {
    mobile: 550px;
    tablet: 930px;
}

// --------------------------------------------------------------------------------


body {
    margin: 0;
    background-color: var(--md-sys-color-background);
}

#root {
    filter: none;
    transition: filter .48s ease-in-out;
    height: 100vh;
    overflow: auto;

    @supports (scrollbar-gutter: stable) {
        scrollbar-gutter: stable;
    }

    display: grid;
    grid: 1fr / min-content 1fr;
    grid-template-areas: "nav main";

    &.blured {
        filter: blur(15px) saturate(1.5);
    }

    &.scrolled header {
        --md-elevation-level: 2;
        backdrop-filter: blur(10px) saturate(150%);

        svg {
            opacity: 1;
        }
    }
}

@import './auth-dialog.less';
@import './header.less';
@import './main.less';
@import './nav.less';